@import "@fontsource/montserrat";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.flag {
    height: 20px;
    width: 40px;
    margin: 0.3rem 0;
}

.wrap {
    border-top: 1px red solid;
    margin: 1px;
}

h3,
h4,
h5 {
    padding: .3rem 0;
}

